::-webkit-scrollbar {
    width: 0;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #FFFFFF;
    border-radius: 5px;
}
:root{
    --fontxsmall: 0.73vw;
    --fontsmall: 0.83vw;
    --fontmedium: 1vw;
    --fontlarge: 1.2vw;
    --fontxl: 1.4vw;
    --padlittle: clamp(5px, 0.5vw, 25px);
    --padmedium: clamp(10px, 0.7vw, 30px);
    --padlarge: clamp(15px, 1vw, 100px);
    --padlarger: clamp(20px, 1.2vw, 150px);
    --gap: clamp(0.7rem, 0.8vw, 2rem);
    --gaplarge: clamp(1rem, 1vw, 4rem);
    --radius: clamp(12px, 0.8vw, 30px);
}
.fxs{
    font-size: var(--fontxsmall);
}
.fxxs{
    font-size: 0.625vw;
}
.fs{
    font-size: var(--fontsmall);
}
.fm{
    font-size: var(--fontmedium);
}
.fl{
    font-size: var(--fontlarge);
}
.pointer{
    cursor: pointer;
}
.cap{
    text-transform: capitalize;
}
.upper{
    text-transform: uppercase;
}
.flexsmall{
    display: flex;
    gap: 0.625vw;
    align-items: center;
}
.hide-display{
    opacity: 0;
    position: absolute;
    transform: translateX(10%);
    pointer-events: none;
}
.hide{
    display: none;
}
*{
    padding: 0;
    margin: 0;
    line-height: normal;
    -webkit-user-select: none; 
    -ms-user-select: none; 
    user-select: none; 
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;
    transition: all 0.3s ease;
    font-style: normal;
    color: white;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
section:has(.key-cont){
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9375vw;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.key-cont{
    width: 2.4vw;
    height: 2.4vw;
    border-radius: 0.73vw;
    border: 0.1vw solid rgba(255, 255, 255, 0.50);
    padding: 0.2vw;
}
.key-cont div{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.80);
    color: #292929;
    font-size: var(--fontsmall);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 0.521vw;
}
.detail-cont{
    background: url(images/detail-bg.svg) no-repeat;
    background-size: cover;
    width: 25.9375vw;
    height: 19.375vw;
    position: absolute;
    top: 12.65625vw;
    right: 25.83vw;
}
.details{
    position: absolute;
    top: 0;
    left: 0;
    padding: 0.755vw 0.8854vw 1.875vw 0.83vw;
    width: 100%;
    height: 100%;
    z-index: 2;
}
button{
    color: inherit;
    border-radius: 1.5625vw;
    font-size: var(--fontxsmall);
    font-style: normal;
    font-weight: 600;
    letter-spacing: 1.4px;
    width: 5.3125vw;
    height: 2.24vw;
    cursor: pointer;
}
.green{
    border: 1px solid rgba(0, 217, 178, 0.35);
    background: rgba(0, 217, 178, 0.12);
}
.red{
    border: 1px solid rgba(255, 62, 62, 0.35);
    background: rgba(255, 62, 62, 0.12);
    color: #FF4C4C;
}
.green:hover{
    background: rgba(0, 217, 178, 0.22);
}
.red:hover{
    background: rgba(255, 62, 62, 0.22);
}
.red:active{
    background: rgba(255, 74, 74, 0.20);
}
.plant{
    width: 3.23vw;
    height: 3.23vw;
}
.plantname{
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: 122.5%; /* 29.4px */
    letter-spacing: 0.48px
}
section:has(button){
    margin: 0 auto;
    width: max-content;
    display: flex;
    gap: 0.41vw;
}
.close{
    border-radius: 0.6125vw;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.10);
    width: 1.666vw;
    height: 1.666vw;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.close:hover{
    background: rgba(255, 255, 255, 0.25);
}
.close svg{
    width: 0.8vw;
}
.flex-between{
    display: flex;
    justify-content: space-between;
}
.sliders{
    margin: 0.9375vw auto 1.6667vw auto;
    width: 21.145833vw;
    display: flex;
    flex-direction: column;
    gap: 0.76vw;
}
.sliders svg{
    width: 1.4583vw;
    height: 1.4583vw;
}
.slider-cont{
    display: flex;
    flex: 1;
    align-items: end;
}
.slider-cont p{
    font-size: 0.63vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    flex: 0.1;
}
.slider-cont div p{
    color: #BCBCBC;
    font-size: 0.78125vw;
    font-weight: 500;
    letter-spacing: 0.6px;
}
.slider-cont div {
    flex: 1;
    margin-right: var(--fontxsmall);
}
.sliders section{
    display: flex;
    gap: 0.78125vw;
    align-items: center;
}
.full-range{
    height: 0.3125vw;
    border-radius: 0.52vw;
    background: rgba(255, 255, 255, 0.20);
    margin-top: 0.26vw;
}
.current-range{
    height: 100%;
    width: 28%;
    background: #00D9B1;
    border-radius: 0.52vw;
}
.sliders div:has(svg){
    display: flex;
    align-items: center;
    justify-content: center;
}
.plant-bg{
    position: absolute;
    width: 8.23vw;
    aspect-ratio: 1/1;
    bottom: 2.24vw;
    right: 0;
    z-index: -1;
    opacity: 0.2;
}